<p class="navigation__link ion-padding" (click)="presentActionSheet()">

  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13569.391552496743!2d34.7866864!3d31.7609962!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd587d20cb4b44ad4!2z16DXodeZ15QgLSDXnteq15fXnSDXl9ec15XXnteV16og15XXkNeZ16jXldei15nXnQ!5e0!3m2!1siw!2sil!4v1620226400369!5m2!1siw!2sil" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

  <span class="emoji"> 🚘 </span>
  התחל ניווט לאירוע
  <span class="emoji"> 🚘 </span>

</p>
